# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
node_modules/

# Environment variables
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env.example

# Build output
dist
dist-ssr
*.local

# Local images (not pushed to GitHub)
public/logos/
public/images/company-logos/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
